{% load static %}

<!-- Modal -->
<div class="product-modal-box modal fade" id="prodect-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span class="icon-cross"
                                                                                                     aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="quickview-product-active mr-lg-5"><a href="#" class="images"> <img
                                src="assets/images/product/2-570x570.webp" class="img-fluid" alt=""/> </a> <a href="#"
                                                                                                              class="images">
                            <img src="assets/images/product/3-600x600.webp" class="img-fluid" alt=""/> </a> <a href="#"
                                                                                                               class="images">
                            <img src="assets/images/product/4-768x768.webp" class="img-fluid" alt=""/> </a>
                        </div>
                        <!-- Thumbnail Large Image End -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content-wrap ">
                            <h5 class="font-weight--reguler mb-10">عنوان محصول</h5>
                            <div class="quickview-ratting-review mb-10">
                                <div class="quickview-ratting-wrap">
                                    <div class="quickview-ratting"><i class="yellow icon_star"></i> <i
                                            class="yellow icon_star"></i> <i class="yellow icon_star"></i> <i
                                            class="yellow icon_star"></i> <i class="yellow icon_star"></i>
                                    </div>
                                    <a href="#"> 2 نظر</a>
                                </div>
                            </div>
                            <h3 class="price">199.000 تومان</h3>
                            <div class="stock in-stock mt-10">
                                <p>وضعیت: <span>موجود در انبار</span></p>
                            </div>
                            <div class="quickview-peragraph mt-10">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    است.</p>
                            </div>
                            <div class="quickview-action-wrap mt-30">
                                <div class="quickview-cart-box">
                                    <div class="quickview-quality">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0"/>
                                        </div>
                                    </div>
                                    <div class="quickview-button">
                                        <div class="quickview-cart button"><a href="product-details.html"
                                                                              class="btn--lg btn--black font-weight--reguler text-white">افزودن
                                            به سبد خرید</a>
                                        </div>
                                        <div class="quickview-wishlist button"><a title="Add to wishlist" href="#"><i
                                                class="icon-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product_meta mt-30">
                                <div class="sku_wrapper item_meta"><span class="label"> موجودی: </span> <span
                                        class="sku"> 502 </span>
                                </div>
                                <div class="posted_in item_meta"><span class="label">دسته بندی: </span><a href="#">آشپزخانه</a>,
                                    <a href="#">مبلمان</a>
                                </div>
                                <div class="tagged_as item_meta"><span class="label">برچسب: </span><a href="#">چوب</a>
                                </div>
                            </div>
                            <div class="product_socials section-space--mt_60"><span class="label">اشتراک گذاری :</span>
                                <ul class="helendo-social-share socials-inline">
                                    <li><a class="share-twitter helendo-twitter" href="#" target="_blank"><i
                                            class="social_twitter"></i></a>
                                    </li>
                                    <li><a class="share-facebook helendo-facebook" href="#" target="_blank"><i
                                            class="social_facebook"></i></a>
                                    </li>
                                    <li><a class="share-google-plus helendo-google-plus" href="#" target="_blank"><i
                                            class="social_googleplus"></i></a>
                                    </li>
                                    <li><a class="share-pinterest helendo-pinterest" href="#" target="_blank"><i
                                            class="social_pinterest"></i></a>
                                    </li>
                                    <li><a class="share-linkedin helendo-linkedin" href="#" target="_blank"><i
                                            class="social_linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Modal -->
<div class="header-login-register-wrapper modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-box-wrapper">
                <div class="helendo-tabs">
                    <ul class="nav" role="tablist">
                        <li class="tab__item nav-item active"><a class="nav-link" data-bs-toggle="tab"
                                                                 href="#tab_list_06" role="tab" aria-selected="false">ورود</a>
                        </li>
                        <li class="tab__item nav-item"><a class="nav-link active" data-bs-toggle="tab"
                                                          href="#tab_list_07" role="tab" aria-selected="true">ثبت
                            نام</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content content-modal-box">
                    <div class="tab-pane fade" id="tab_list_06" role="tabpanel">
                        <form action="#" class="account-form-box">
                            <h6>وارد حساب خود شوید.</h6>
                            <div class="single-input">
                                <input type="text" placeholder="نام کاربری"/>
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="گذرواژه"/>
                            </div>
                            <div class="checkbox-wrap mt-10">
                                <label class="label-for-checkbox inline mt-15">
                                    <input class="input-checkbox" name="rememberme" type="checkbox" id="rememberme"
                                           value="forever"/> <span>من را به خاطر بسپار</span>
                                </label> <a href="#" class="mt-10">گذرواژه خود را فراموش کرده اید؟</a>
                            </div>
                            <div class="button-box mt-25"><a href="#" class="btn btn--full btn--black">ورود</a>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade active show" id="tab_list_07" role="tabpanel">
                        <form action="#" class="account-form-box">
                            <h6>یک حساب کاربری ایجاد نمایید.</h6>
                            <div class="single-input">
                                <input type="text" placeholder="نام کاربری"/>
                            </div>
                            <div class="single-input">
                                <input type="text" placeholder="ایمیل"/>
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="گذرواژه"/>
                            </div>
                            <p class="mt-15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. ما <a href="#" class="privacy-policy-link" target="_blank">سیاست حفظ
                                    حریم شخصی</a> را رعایت می کنیم.</p>
                            <div class="button-box mt-25"><a href="#" class="btn btn--full btn--black">ثبت نام</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="header-login-register-wrapper modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-box-wrapper">
                <div class="helendo-tabs">
                    <ul class="nav" role="tablist">
                        <li class="tab__item nav-item active"><a class="nav-link" data-bs-toggle="tab"
                                                                 href="#tab_list_06" role="tab" aria-selected="false">ورود</a>
                        </li>
                        <li class="tab__item nav-item"><a class="nav-link active" data-bs-toggle="tab"
                                                          href="#tab_list_07" role="tab" aria-selected="true">ثبت
                            نام</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content content-modal-box">
                    <div class="tab-pane fade" id="tab_list_06" role="tabpanel">
                        <form action="#" class="account-form-box">
                            <h6>وارد حساب خود شوید.</h6>
                            <div class="single-input">
                                <input type="text" placeholder="نام کاربری"/>
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="گذرواژه"/>
                            </div>
                            <div class="checkbox-wrap mt-10">
                                <label class="label-for-checkbox inline mt-15">
                                    <input class="input-checkbox" name="rememberme" type="checkbox" id="rememberme"
                                           value="forever"/> <span>من را به خاطر بسپار</span>
                                </label> <a href="#" class="mt-10">گذرواژه خود را فراموش کرده اید؟</a>
                            </div>
                            <div class="button-box mt-25"><a href="#" class="btn btn--full btn--black">ورود</a>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade active show" id="tab_list_07" role="tabpanel">
                        <form action="#" class="account-form-box">
                            <h6>یک حساب کاربری ایجاد نمایید.</h6>
                            <div class="single-input">
                                <input type="text" placeholder="نام کاربری"/>
                            </div>
                            <div class="single-input">
                                <input type="text" placeholder="ایمیل"/>
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="گذرواژه"/>
                            </div>
                            <p class="mt-15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. ما <a href="#" class="privacy-policy-link" target="_blank">سیاست حفظ
                                    حریم شخصی</a> را رعایت می کنیم.</p>
                            <div class="button-box mt-25"><a href="#" class="btn btn--full btn--black">ثبت نام</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>